body {
   /* background-image: url("https://images.pexels.com/photos/2847648/pexels-photo-2847648.jpeg?raw=true");*/
    background-color: #ff471a;
    color: black;
    font-family: sans-serif;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


/* Layout */

.main {
    max-width: 1200px;
    margin: 0 auto;
}


/* Typography */

.card_title {
    font-family: 'Helvetica Neue', sans-serif;
    color: #111;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 24px;
    text-transform: uppercase;
}

.card_text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}


/* Utilities */

.orange {
    color: #ed5807;
}


/* Components */

.cards {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 1rem;
}

.cards_item {
    padding: 8px;
}

.card_content {
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 400px;
}


/* Media queries */

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}